
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <title>Boss Mobile Wunderkinds</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster">
        <link href='http://fonts.googleapis.com/css?family=Sintony' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/prettyPhoto/css/prettyPhoto.css">
        <link rel="stylesheet" href="assets/css/flexslider.css">
        <link rel="stylesheet" href="assets/css/font-awesome.css">
        <link rel="stylesheet" href="assets/css/style.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

        <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.1.min.js"></script>
    </head>

    <body>

        <!-- Header -->
        <div class="container">
            <div class="header row">
                <div class="span12">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            <h1>
                                <a class="brand" href="/">Boss Mobile Wunderkinds</a>
                            </h1>
                            <div class="nav-collapse collapse">
                                <ul class="nav pull-right">
                                    <li class="current-page">
                                        <a href="/"><i class="icon-home"></i><br />Home</a>
                                    </li>
                                    <li>
                                        <a href="javascript:logIn()"><i class="icon-key"></i><br />Sign In</a>
                                    <li>
                                        <a href="http://bossmobilewunderkinds.tumblr.com"><i class="icon-comments"></i><br />Blog</a>
                                    </li>
                                    <li>
                                        <a href="#about"><i class="icon-user"></i><br />About</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Site Description -->
        <div class="presentation container">
            <h2>Sign up for <span class="blue">Boss Mobile Wunderkinds</span></h2>
            <p>Become the ultimate living machine.</p>
        </div>

        <!-- Services -->
        <div class="what-we-do container">
            <div class="row">
                <div class="service span3">
                    <div class="icon-awesome">
                        <i class="icon-user"></i>
                    </div>
                    <h4>Your Personal Assistant</h4>
                    <p>Integrates your calendar, email, linkedin, and more, to help you get through your day.</p>
                </div>
                <div class="service span3">
                    <div class="icon-awesome">
                        <i class="icon-road"></i>
                    </div>
                    <h4>BMW iDrive Integration</h4>
                    <p>Connects to your BMW, to get you all the information you need while you're on the road.</p>
                </div>
                <div class="service span3">
                    <div class="icon-awesome">
                        <i class="icon-magic"></i>
                    </div>
                    <h4>Works Like Magic</h4>
                    <p>Uses contextual clues to give you what you need to know, when you need to know it.</p>
                </div>
                <div class="service span3">
                    <div class="icon-awesome">
                        <i class="icon-time"></i>
                    </div>
                    <h4>Wearable Technology</h4>
                    <p>Designed for the cutting-edge Pebble smartwatch, for unobtrusive updates.</p>
                </div>
            </div>
        </div>

       
        <!-- Testimonials -->
        <div class="testimonials container">
            <div class="testimonials-title">
                <h3>User Stories</h3>
            </div>
            <div class="row">
                <div class="testimonial-list span12">
                    <div class="tabbable tabs-below">
                        <div class="tab-content">
                            <div class="tab-pane active" id="A">
                                <p>John's Pebble Watch vibrates, waking him up an extra 10 minutes earlier in the morning, and warning him of the traffic jam on his usual route to work. His schedule for the day flashes up on his BMW iDrive screen as he gets into his car...</p>
                            </div>
                            <div class="tab-pane" id="B">
                                <p>As he pulls up to the meeting, his Boss Mobile Wunderkinds Personal Assistant aggregates information from his calendar, email, and linkedin to bring up brief bios of the clients he's about to meet with, along with their latest email correspondence...</span></p>
                            </div>
                            <div class="tab-pane" id="C">
                                <p>As he leaves his car, walking directions to the office flash up on his Pebble watch. The Boss Mobile Wunderkinds Personal Assistant automatically takes note of his GPS location, so he won't forget where he parked.</p>
                            </div>
                            <div class="tab-pane" id="D">
                                <p>The meeting is running long - his Boss Mobile Wunderkinds Personal Assistant helpfully texts him to remind him when to get going to his next meeting, with the message unobtrusively popping up on his watch...</p>
                            </div>
                        </div>
                       <ul class="nav nav-tabs">
                           <li class="active"><a href="#A" data-toggle="tab"></a></li>
                           <li class=""><a href="#B" data-toggle="tab"></a></li>
                           <li class=""><a href="#C" data-toggle="tab"></a></li>
                           <li class=""><a href="#D" data-toggle="tab"></a></li>
                       </ul>
                   </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="widget span3" id="about">
                        <h4>About Us</h4>
                        <p>We are Boss Mobile Wunderkinds, working to help create the Ultimate Lifestyle Machine. By bringing bringing together your calendar, email, contacts, and more, and leveraging wearable technology and the BMW iDrive, our Personal Assistant will simplify your life unlike anything you've used before.</p>
                    </div>
                    <div class="widget span3">
                        <h4>Contact Us</h4>
                        <p><i class="icon-map-marker"></i> Address: Stanford, California</p>
                        <p><i class="icon-envelope-alt"></i> Email: <a href="">bossmobilewunderkinds@gmail.com</a></p>
                    </div>
                </div>
                <div class="footer-border"></div>
                <div class="row">
                    <div class="copyright span4">
                        <p>Layout credit: <a href="http://azmind.com/2012/12/28/free-html-template-andia-responsive-agency-portfolio-template-twitter-bootstrap/">azmind</a>.</p>
                    </div>
                    <div class="social span8">
                        <a class="facebook" href="https://www.facebook.com/BossMobileWunderkinds"></a>
                        <a class="tumblr" href="http://bossmobilewunderkinds.tumblr.com"></a>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Javascript -->
        <script src="assets/js/jquery-1.8.2.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.flexslider.js"></script>
        <script src="assets/js/jquery.tweet.js"></script>
        <script src="assets/js/jflickrfeed.js"></script>
        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="assets/js/jquery.ui.map.min.js"></script>
        <script src="assets/js/jquery.quicksand.js"></script>
        <script src="assets/prettyPhoto/js/jquery.prettyPhoto.js"></script>
        <script src="assets/js/scripts.js"></script>
        <script type="text/javascript" src="/js/facebook-login.js"></script>

    </body>

</html>

