<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/flat-ui.css">
        <link rel="stylesheet" type="text/css" href="/css/webapp.css">

        <script src="/js/jquery-1.9.1.min.js" type="text/javascript"></script>
        <script src="/js/webapp.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12 title">
                    <img src="/images/illustrations/calendar.png" />
                    <h1>Events Today</h1>
                </div>
                <div class="span12">
                    <div class="events">
                        <ul>
                            <li>
                                <div class="events-content">
                                    <h4 class="events-name">Meeting with Merkel team</h4>
                                    GSB Breakout Room
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
